.node {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #999;
  text-align: center;
  width: 40px;
  height: 40px;
  top: 70px;
  border-radius: 20px;

  &:after {
    font-size: 20px;
    font-family: Arial;
    line-height: 40px;
    color: #555;
    content: attr(data-name);
  }

  .node {
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      width: 1px;
      height: 40.62257748px;
      background-color: #999;
      left: 0px;
      top: 0px;
    }

    &:last-child {
      left: 40px;

      &:before {
        transform: translate(-2px, -37.31128874px) rotate(-0.51914611rad);
      }
    }

    &:first-child {
      left: -40px;

      &:before {
        transform: translate(40px, -35.31128874px) rotate(0.51914611rad);
      }
    }
  }
}

.R {
  left: 50%;
  top: 10px;
}

.example {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .fromComponent,
  .toComponent {
    box-sizing: border-box;
    width: 35%;
    border: solid 1px;
    overflow: auto;
    height: 100%;
    position: relative;
  }
}

.sign {
  margin: 0 20px;
  border: solid 1px;
  padding: 10px;
}
.inputarea {
  display: flex;
  align-items: center;
  justify-content: center;

}
.optarea {
  text-align: center;
  margin: 10px 0;
}

.logger {
  ol {
    li.unmount {
      background: hotpink;
    }
    li.create {
      background: cornflowerblue;
    }
    li.update {
      background: limegreen;
    }
    li.mount {
      background: yellowgreen;
    }
  }
}